<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MySuite" >

    <!-- Listener for reporting or logging -->
    <listeners>
        <listener class-name="com.exercise.framework.listeners.TestListeners"/>
    </listeners>
    <!-- Test 1: Run on Chrome -->
    <test name="TestOnChrome">
    <parameter name="BROWSER" value="chrome"/>
    <parameter name="username" value="puratamilan17@gmail.com"/>
    <parameter name="password" value="Tamil@2025"/>
    <classes>
        <class name="com.exercise.application.tests.ApplicationTest"/>
    </classes>
    </test>

<!--    &lt;!&ndash; Test 2: Run on Edge &ndash;&gt;-->
<!--    <test name="TestOnFireFox">-->
<!--    &lt;!&ndash; Global parameters &ndash;&gt;-->
<!--    <parameter name="BROWSER" value="firefox"/>-->
<!--    <parameter name="username" value="puratamilan17@gmail.com"/>-->
<!--    <parameter name="password" value="Tamil@2025"/>-->
<!--        <classes>-->
<!--            <class name="com.exercise.application.tests.ApplicationTest"/>-->
<!--        </classes>-->
<!--    </test>-->

</suite>
